/* layout */
header,
main,
footer {
    max-width: 31.25rem;
    margin: 0 auto;
    color: white;
}
header {
    background-color: var(--black);
    padding: .625rem;
}
main {
    background-color: var(--document-bg-color);
    padding: 1.25rem .625rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    height: calc(100vh - 100px - 85px - 29.5px);
    overflow-y: auto;
}
footer{ 
    background-color: var(--black);
    padding: .3125rem;
    text-align: center;
}

/* style */
.title {
    text-align: center;
    color: var(--accent-color);
    margin: 0;
}
.title-sec {
    color: var(--text-accent-color);
}

/* style - header */
.btns-sec {
    display: flex;
    justify-content: center;
    gap: .3125rem;
    margin-top: .3125rem;
}

/* style - main */
.media-sec,
.content-sec {
    background: var(--component-bg-gradient);
    position: relative;
}

.media-sec {
    display: flex;
}
.media-sec div{
    width: 60%;
    flex-shrink: 0;
}
.media-sec div img, 
.media-sec div iframe{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    vertical-align: top;
    border: none;
}

.delete-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}